<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("_StylesPartial")
</head>
<body>


    @await Html.PartialAsync("_UpperHeaderPartial")

    @await Html.PartialAsync("_LowerHeaderPartial")

    @await Html.PartialAsync("_NavigationBarPartial")


    @RenderBody()
    @await Html.PartialAsync("_NewProductsPartial")
    @await Html.PartialAsync("_FeaturedProducts")
    @await Html.PartialAsync("_ClientsPartial")

    @await Html.PartialAsync("_FooterPartial")

    @await Html.PartialAsync("_ScriptsPartial")
</body>
</html>