<!--
   Lower Header Section
   -->
<div class="container">
    <div id="gototop"> </div>
    <header id="header">
        <div class="row">
            <div class="span4">
                <h1>
                    <a class="logo" href="/">
                        <span>Twitter Bootstrap ecommerce template</span>
                        HOŞGELDİNİZ
                    </a>
                </h1>
            </div>
            <div class="span4">
                <div class="offerNoteWrapper">
                    <h1 class="dotmark">
                        <i class="icon-cut"></i>
                        Twitter Bootstrap shopping cart HTML template is available
                    </h1>
                </div>
            </div>
            <div class="span4 alignR">
                <p><br> <strong> Support (24/7) :  0800 1234 678 </strong><br><br></p>

            </div>
        </div>
    </header>
