<!--
Body Section
-->
<div class="row">
    <div id="sidebar" class="span3">
        <div class="well well-small">
            <ul class="nav nav-list">
                <li><a href="products.html"><span class="icon-chevron-right"></span>Fashion</a></li>
                <li><a href="products.html"><span class="icon-chevron-right"></span>Watches</a></li>
                <li><a href="products.html"><span class="icon-chevron-right"></span>Fine Jewelry</a></li>
                <li><a href="products.html"><span class="icon-chevron-right"></span>Fashion Jewelry</a></li>
                <li><a href="products.html"><span class="icon-chevron-right"></span>Engagement & Wedding</a></li>
                <li><a href="products.html"><span class="icon-chevron-right"></span>Men's Jewelry</a></li>
                <li><a href="products.html"><span class="icon-chevron-right"></span>Vintage & Antique</a></li>
                <li><a href="products.html"><span class="icon-chevron-right"></span>Loose Diamonds </a></li>
                <li><a href="products.html"><span class="icon-chevron-right"></span>Loose Beads</a></li>
                <li><a href="products.html"><span class="icon-chevron-right"></span>See All Jewelry & Watches</a></li>
                <li style="border:0"> &nbsp;</li>
                <li> <a class="totalInCart" href="cart.html"><strong>Total Amount  <span class="badge badge-warning pull-right" style="line-height:18px;">$448.42</span></strong></a></li>
            </ul>
        </div>
    </div>

    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="active">Login</li>
        </ul>

        
        <h3 class="text-center">Giriş Yap veya Kayıt Ol</h3>
        <hr class="soft" />

        <div class="row">
            <!-- Register Section -->
            <div class="col-12 mb-4 ">
                <div class="well text-center">
                    <h5>KAYIT OLMAK İÇİN TIKLAYIN</h5><br />
                    Enter your e-mail address to create an account.<br /><br />
                    <div>
                        <a href="register" class="defaultBtn">KAYIT OL</a>
                    </div>
                </div>
            </div>



            <!-- Login Section -->
            <div class="col-12 d-flex justify-content-center text-center ">
                <div class="well">
                    <h5 class="text-center">ALREADY REGISTERED?</h5>
                    <form>
                        <!-- Email Input -->
                        <div class="control-group mb-3 ">
                            <label class="control-label text-center" for="inputEmail">Email</label>
                            <div class="controls">
                                <input class="form-control" type="text" id="inputEmail" placeholder="Email">
                            </div>
                        </div>

                        <!-- Password Input -->
                        <div class="control-group mb-3">
                            <label class="control-label" for="inputPassword">Password</label>
                            <div class="controls">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <div class="control-group">
                            <div class="controls d-flex justify-content-between align-items-center">
                                <button type="submit" class="defaultBtn">Sign in</button>
                                <a href="forgetpassword" class="text-muted">Forget password?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>





        </div>
    </div>
</div>
